
	<div class="mail-container">
		<div class="logo-mail-wrap">
			<div class="logo-mail-fon">
				<div class="logo-place">
					<img src="img/logo-to-mail.png" class="logo-to-mail">
				</div>
			</div>
		</div>
		<div class="text-message-wrap">
			<div class="text-mesage">
				<span class="confirm-email"> Уважаемый  <%- name %> <%- faname %>! <br><br>
					Вы ввели <%- email %> в качестве контактного адреса электронной почты для вашего аккаунта. Чтобы завершить процесс, мы просто должны убедиться, что этот адрес принадлежит вам. Просто нажмите на ссылку ниже, и войдите в систему.
					<br><br>
					<a href="http://mediaexpert-dev.azurewebsites.net/invite/accept?code=<%- code %>">http://mediaexpert-dev.azurewebsites.net/invite/accept?code=<%- code %></a>
					<br><br>Если вы не запрашивали новый аккаунт на media-expert.ru, просто проигнорируйте это письмо.
				</span>
			</div>
			<div class="line-down"></div>
			<div class="contacts">
				<span class="contact-text">
					adminmaria@codeistvie.ru<br>
					Тел. +7 (495) 772 33 04, +7 (985) 330 18 53
				</span>
			</div>
		</div>
	</div>
