
	<div class="mail-container" style="width: 600px; height: 500px;border: 1px solid #716D6D;">
		<div class="logo-mail-wrap" style="height: 90px; width: 100%;">
			<div class="logo-mail-fon" style="background: url('http://<%- param.url %>/img/mail-fon.jpg'); padding: 15px;">
				<div class="logo-place" style="margin: 0 auto; width: 280px; min-height: 60px; 
max-height: 60px; background-color: #E07450; text-align: center; line-height: 75px;">
					<img src="http://<%- param.url %>/img/logo-to-mail.gif" class="logo-to-mail">
					
				</div>
			</div>
		</div>
		<div class="text-message-wrap" style="margin: 0 auto; width: 462px; height: 410px; font-family: "Segoe UI Semilight"; font-size: 15px; margin-top:35px;">
			<div class="text-mesage">
				<span class="confirm-email" style="font-family:"Segoe UI Semilight"; font-size:15px;"> 
				<%
				if (param.pass!="special_message") {
				%>
				Уважаемый  (ая) <%- invite.name %> <%- invite.faname %>! <br><br>
					Вы ввели <%- invite.email %> в качестве контактного адреса электронной почты для вашего аккаунта. 
					<br>Для вас создан аккаунт, в качестве логина используйте учетные данные: 
					<br>email/login: <%- invite.email %><br>
					<br>пароль: <%- param.pass %><br><br><br>
					Чтобы завершить процесс, мы просто должны убедиться, что этот адрес принадлежит вам. Просто нажмите на ссылку ниже, и войдите в систему.
					<br><br>
					<a href="http://<%- param.url %>/invite/accept?code=<%- invite.code %>" style="{text-decoration:none; color:#9A9999}:hover{color:#E07450; }">http://<%- param.url %>/invite/accept?code=<%- invite.code %></a>
					<br><br>Если вы не запрашивали новый аккаунт на mediaexpert, просто проигнорируйте это письмо.

				<%
				} else {
				%>
					Вы запрашивали инвайт на сайте <a href="http://<%= param.url %>">Media Expert</a>.<br>
					Но вы были уже зарегистрированы ранее, поэтому для доступа к сайту вам нужно просто авторизоваться<br>Если вы забыли пароль, то воспользуйтесь функцией восстановления пароля, предоставленной на сайте<br>
				<%
				}
				%>
				</span>
			</div>
			<div class="line-down" style="height: 1px; width: 460px; background-color: #716D6D; margin-top: 15px; margin-bottom:18px;"></div>
			<div class="contacts">
				<span class="contact-text" style="font-family:"Segoe UI Semilight"; font-size:15px;">
					adminmaria@codeistvie.ru<br>
					Тел. +7 (495) 772 33 04, +7 (985) 330 18 53
				</span>
			</div>
		</div>
	</div>
